---
- name: Create K3s agent systemd service
  ansible.builtin.template:
    src: k3s-agent.service.j2
    dest: /etc/systemd/system/k3s-agent.service
    owner: root
    group: root
    mode: '0644'
  notify: reload systemd

- name: Ensure systemd is reloaded
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Enable and start K3s agent service
  ansible.builtin.systemd:
    name: k3s-agent
    enabled: yes
    state: started

- name: Wait for K3s agent to be ready
  ansible.builtin.wait_for:
    port: 10250
    delay: 10
    timeout: 120
  ignore_errors: yes

