export PM_USER="terraform-prov@pve"
export PM_PASS=$(pass homelab/jupiter/terraform-prov)

export PROXMOX_VE_USERNAME="root@pam"
export PROXMOX_VE_PASSWORD=$(pass homelab/proxmox/terraform/root)

export MINIO_USER=$(pass homelab/minio/terraform-key)
export MINIO_PASSWORD=$(pass homelab/minio/terraform-secret)

export CLOUDFLARE_API_TOKEN=$(pass cloudflare/api-token/homelab-iac-dns)

export TF_VAR_cloudinit_username=$(pass homelab/proxmox/cloudinit/default-username)
export TF_VAR_cloudinit_password=$(pass homelab/proxmox/cloudinit/default-password)
export TF_VAR_cloudinit_ssh_public_key=$(pass homelab/proxmox/cloudinit/ssh-public-key)
export TF_VAR_cloudflare_zone_id=$(pass cloudflare/cboxlab/zone-id)
export TF_VAR_cloudflare_api_token=$(pass cloudflare/api-token/homelab-iac-dns)
export TF_VAR_acme_email=$(pass homelab/proxmox/terraform/acme-email)
