export PM_USER="terraform-prov@pve"
export PM_PASS=$(pass homelab/jupiter/terraform-prov)

export PROXMOX_VE_USERNAME="terraform-prov@pve"
export PROXMOX_VE_PASSWORD=$(pass homelab/jupiter/terraform-prov)

export MINIO_USER=$(pass homelab/minio/terraform-key)
export MINIO_PASSWORD=$(pass homelab/minio/terraform-secret)

export TF_VAR_cloudinit_username=$(pass homelab/proxmox/cloudinit/default-username)
export TF_VAR_cloudinit_password=$(pass homelab/proxmox/cloudinit/default-password)
export TF_VAR_cloudinit_ssh_public_key=$(pass homelab/proxmox/cloudinit/ssh-public-key)
