[Unit]
Description=Run backup-valheim.service {{ backup_schedule }}
Requires=backup-valheim.service

[Timer]
{% if backup_schedule == 'hourly' %}
OnCalendar=hourly
{% elif backup_schedule == 'daily' %}
OnCalendar=daily
{% elif backup_schedule == 'weekly' %}
OnCalendar=weekly
{% else %}
OnCalendar={{ backup_schedule }}
{% endif %}
Persistent=true

[Install]
WantedBy=timers.target
