# Restic environment configuration
export RESTIC_REPOSITORY="{{ restic_repository }}"
export RESTIC_PASSWORD="{{ restic_password }}"
export AWS_ACCESS_KEY_ID="{{ restic_s3_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ restic_s3_secret_key }}"
export UPTIME_URL="{{ uptime_url }}"
