#!/usr/bin/env bash
set -euo pipefail

export LD_LIBRARY_PATH="{{ valheim_install_dir }}/linux64:${LD_LIBRARY_PATH:-}"
export SteamAppId=892970

exec {{ valheim_install_dir }}/valheim_server.x86_64 \
  -name "{{ valheim_server_name }}" \
  -port {{ valheim_server_port }} \
  -world "{{ valheim_world_name }}" \
  -password "{{ valheim_server_password }}" \
  -public {{ valheim_public | int }} \
{% if valheim_crossplay | bool %}
  -crossplay \
  -instanceid "{{ valheim_instance_id }}" \
{% endif %}
{% if valheim_preset | default('') | length > 0 %}
  -preset {{ valheim_preset | lower }} \
{% endif %}
{% if valheim_modifiers is defined and valheim_modifiers | length > 0 %}
{% for modifier in valheim_modifiers %}
  {{ modifier }} \
{% endfor %}
{% endif %}
  -nographics \
  -batchmode

