[Unit]
Description=Valheim Dedicated Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ steam_user }}
Group={{ steam_group }}
WorkingDirectory={{ valheim_install_dir }}
ExecStartPre={{ steamcmd_dir }}/steamcmd.sh +force_install_dir {{ valheim_install_dir }} +login anonymous +app_update {{ valheim_app_id }} +quit
ExecStart={{ valheim_install_dir }}/start_valheim.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
KillSignal=SIGINT
Restart=on-failure
RestartSec=30s

# Resource limits
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target

