version: '3.8'

services:
  psuite-syncthing:
    image: docker.io/nginx:1.25-alpine
    container_name: psuite
    restart: always
    ports:
      - "8080:80"
    networks:
      - psuite-network

networks:
  psuite-network:
    driver: bridge