[Unit]
Description=Vault Agent for Certbot credentials
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/vault agent -config={{ vault_agent_config_dir }}/vault-agent.hcl
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths=/etc/letsencrypt

[Install]
WantedBy=multi-user.target
