export CLOUDFLARE_API_TOKEN=$(pass cloudflare/api-token/homelab-iac-dns)
export OPENCLAW_EMAIL=$(pass homelab/email)

export OPENCLAW_RESTIC_REPOSITORY=$(pass homelab/openclaw/restic_repository)
export OPENCLAW_RESTIC_PASSWORD=$(pass homelab/openclaw/restic_password)
export OPENCLAW_RESTIC_S3_ACCESS_KEY=$(pass homelab/openclaw/restic_s3_access_key)
export OPENCLAW_RESTIC_S3_SECRET_KEY=$(pass homelab/openclaw/restic_s3_secret_key)
