---
- name: Enable UFW
  community.general.ufw:
    state: enabled
    policy: deny

- name: Allow SSH
  community.general.ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Allow K3s API server
  community.general.ufw:
    rule: allow
    port: '6443'
    proto: tcp

- name: Allow Kubelet metrics
  community.general.ufw:
    rule: allow
    port: '10250'
    proto: tcp

- name: Allow etcd client port (for HA)
  community.general.ufw:
    rule: allow
    port: '2379'
    proto: tcp

- name: Allow etcd peer port (for HA)
  community.general.ufw:
    rule: allow
    port: '2380'
    proto: tcp

- name: Allow Flannel VXLAN (if using Flannel later)
  community.general.ufw:
    rule: allow
    port: '8472'
    proto: udp

- name: Allow NodePort range
  community.general.ufw:
    rule: allow
    port: '30000:32767'
    proto: tcp

- name: Reload UFW
  community.general.ufw:
    state: reloaded
